<nav class="navbar navbar-expand-lg bg-light navbar-light shadow-sm">
		<a class="navbar-brand" href="https://www.mycos.ai">Mycos.Ai</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="https://www.mycos.ai/about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="mailto:Justin@mycosnetwork.com?subject=Question%20about%20Mycos&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3Cyour%20question%20here%3E%0D%0A%0D%0A">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>